@import './base.css';

#app {
  width: 1363px;
  height: 850px;
  margin: 0 auto;
  padding: 2rem;

  font-weight: normal;
}

a,
.green {
  text-decoration: none;
  color: hsla(160, 100%, 37%, 1);
  transition: 0.4s;
}

@media (min-width: 1024px) {

    .navbar {
        background-color: white;
        display: flex;
        justify-content: center;
    }
        .navbar a {
            float: left;
            color: #656565;
            text-align: center;
            padding: 20px 16px;
            font-size: 15px;
        }

            .navbar a:hover {
                color: #bfbfbf;
            }

            .navbar a:active {
                color: #bfbfbf;
            }

    #app {
        display: grid;
        place-items: center;
    }

    #btnAddWiget {
        margin-left: -103%;
        color: white;
        background-color: #1072E3;
        transform: rotate(-90deg);
        border: none;
        width: 100%;
        margin-top: 17%;
        height: 20px;
    }
}
